body {
    background-color: cornflowerblue;
    
}

div {
    font-family: roboto;
    max-width: 80%;
    margin: 20px auto;
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    
   }
   .cursor {
       opacity: 0;
       transition: 0.4s;
   }
 
   .cursor.active {
       opacity: 1;
   }